@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-boxs;
}

body{
    font-size: 16px;
    text-align: center;
    
    color: white;

    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    font-family: "Quicksand", sans-serif;

    margin-top: 3em;
    
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

h1{
    font-weight: 300;
    font-size: 2.5em;

    margin-bottom: 2em;
}

.p-accordion{
    width: 50%;

    margin-left: auto;
    margin-right: auto
}

.p-accordion-header{
    background-color:#dcdcdc;
    padding: 2em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.p-accordion-header a{
    color: rgb(0, 85, 150);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

}

.p-accordion-content{
    padding: 2em 0 4.2em 0;
    background-color:#f2efef48;
}

.p-accordion-content p{
    margin: 0 2em 0 2em;
}