@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-boxs;
}

body{
    font-size: 16px;
    text-align: center;
    
    color: white;

    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    font-family: "Quicksand", sans-serif;

    margin-top: 3em;
    
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

h1{
    font-weight: 300;
    font-size: 2.5em;
}